.chowk img{
    max-width: 400px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

.sadabahar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}
.sadabahar h1{
    margin: 15px 0;
}

.sada-chowk{
    background-color: #edeeec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px;

}
.sada-text{
    max-width: 450px;
    font-size: 1.3rem;
    text-align: center;
    margin: 15px;
}


@media(max-width:450px){
    .sada-text{
        max-width: 300px;
        margin: 10px;
        font-size: 1.1rem;
    }
    .chowk img{
        max-width: 300px;
    }
}
@media(max-width:768px){
    .sada-chowk{
        flex-direction: column;
    }
}
